node_modules
/LoginAgentClient/bin/Debug
/LoginAgentClient/obj/Debug
target
bin
/LoginAgentClient/.vs
/LoginAgentClient/obj
static
/LoginAgentClient/packages
/occam2-mybot/occam2-mybot-server/src/main/resources/dist/*.zip
