<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jimin-mybot-server/src/main/java/net/mycorp/jimin/mybot/SchedulerApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.mycorp.jimin.mybot.SchedulerApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--port=8089"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jimin-mybot-server"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx2048m -DLOG_PATH=D:/logs/mybot -DPROFILE=batch"/>
</launchConfiguration>
